:root {
  --nav-height: 70px;
  --primary-color: #000000;
  --secondary-color: #455767;
  --secondary-hover-color: #53697d;
 }
 
 * {
   box-sizing: border-box;
 }
 
 html, body {
     margin: 0;
     padding: 0;
     width: 100vw;
     height: 100vh;
     font-family: Arial, Helvetica, sans-serif;
     overflow: hidden;
 }

  
 #brainsatplay-docs {
  width: 100%;
  height: 100%;
  overflow: scroll;
  position: relative;
 }
 
 #brainsatplay-docs-main {
   display: grid;
   grid-template-areas:
   "sidebar content info";
   grid-template-columns: 250px 1fr 0px;
   position: relative;
 }
 
 /* Sidebar */
 #brainsatplay-docs-sidebar {
   grid-area: sidebar;
   max-height: calc(100vh - var(--nav-height));
   overflow: scroll;
   position: sticky;
   background: var(--secondary-color);
   top: var(--nav-height);
   left: 0;
   box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
   color: white;
 }
 
 #brainsatplay-docs-sidebar ul {
   list-style-type: none; /* Remove bullets */
   padding-inline-start: 10px;
 }

 #brainsatplay-docs-sidebar ul[data-sidebar-depth = "1"] {
  font-size: 95%;
  color: rgb(240, 240, 240);
 }

 #brainsatplay-docs-sidebar ul[data-sidebar-depth = "2"] {
  font-size: 90%;
  color: rgb(225, 225, 225);
 }
 
 #brainsatplay-docs-sidebar a {
   text-decoration: none;
   color: white;
 }
 
 #brainsatplay-docs-sidebar li {
   padding: 5px;
   pointer-events: none;
   font-weight: bold;
 }

 #brainsatplay-docs-sidebar a > li {
  font-weight: normal;
}
 
 #brainsatplay-docs-sidebar li:hover {
   background: var(--secondary-hover-color);
 }
 
 #brainsatplay-docs-content {
   grid-area: content;
 }
 
 #brainsatplay-docs-info {
   grid-area: info;
 }
 
 section {
   padding: 15px 50px;
 }
 
 
 /* Default Nav Bar */
 header {
   z-index: 100;
   position: sticky;
   top: 0;
   left: 0;
 }
 
 nav {
   background: var(--primary-color);
   color: white;
   padding: 0px 25px;
   display: flex;
   align-items: center;
   pointer-events: none;
   height: var(--nav-height);
 }
 
 nav a {
   color: white;
   text-decoration: none;
 }
 
 footer {
   background: var(--primary-color);
   color: white;
   padding: 2px 25px;
   min-height: 50px;
   display: flex;
   align-items: center;
   z-index: 100;
 }
 
 /* Block Quotes */
 blockquote {
   border-left: 3px solid var(--primary-color);
   padding: 1px 20px;
 }
 
 /* Code Blocks */
 pre {
   overflow: auto;
   max-height: 300px;
   margin: 0;
 }
 
 pre > code {
   display: block;
   padding: 15px;
 }
 
 .brainsatplay-docs-code {
   overflow: auto;
   position: relative;
   border-radius: 20px;
   border: 1px solid var(--primary-color);
   overflow-y: hidden;
   margin: 25px;
 }
 
 .brainsatplay-docs-code > span {
   color: white;
   background: var(--primary-color);
   display: block;
   font-family: auto;
   padding: 10px 25px;
   font-weight: bold;
   position: sticky;
   top: 0;
   left: 0;
   width: 100%;
   box-sizing: border-box;
 }