<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- title -->
    <!-- defaultstylesheet -->
    <!-- stylesheet -->
    <!-- favicon -->
</head>
<body>
    <header>
        <nav><!-- name --></nav>
    </header>
    <div id="brainsatplay-docs-main">
        <!-- sidebar -->

        <section id="brainsatplay-docs-content">
            <!-- content -->
        </section>
    </div>
    <footer></footer>
</body>
</html>